[submodule "api"]
	path = api
	url = https://github.com/TheBoostDeniers/soara-api.git
[submodule "web-client"]
	path = web-client
	url = https://github.com/TheBoostDeniers/soara-web-client.git
[submodule "timetabling-service"]
	path = timetabling-service
	url = https://github.com/TheBoostDeniers/soara-timetabling-service.git
